{
	"presets": [
		[
			"env",
			{
				"targets": {
					"browsers": ["last 2 versions", "ie 10"]
				}
			}
		]
	],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./src/media/js"],
				"alias": {
					"classes": "./src/media/js/classes",
					"helpers": "./src/media/js/helpers",
					"modules": "./src/media/js/modules",
					"utils": "./src/media/js/utils"
				}
			}
		]
	]
}
