{
	"parser": "babel-eslint",
	"env": {
		"browser": true,
		"es6": true,
		"jquery": true,
		"commonjs": true
	},
	"extends": ["eslint:recommended", "prettier", "gsap"],
	"globals": {
		"cy": true
	},
	"rules": {
		"prettier/prettier": 1,
		"no-class-assign": "off",
		"import/no-named-as-default": "off",
		"no-console": "off",
		"no-unused-vars": "warn"
	},
	"plugins": ["prettier"]
}
